<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCoudeg6c5piAE_3JWXiPNMTJCP5oR4MU</string>
	<key>GCM_SENDER_ID</key>
	<string>159214570801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.itechsoftwares.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynote-itechsoftwares</string>
	<key>STORAGE_BUCKET</key>
	<string>mynote-itechsoftwares.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159214570801:ios:d4cdd230852f0546e83410</string>
</dict>
</plist>